<div class='container' ng-controller='MyCtrl1'>
	<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Musizone</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <form class="navbar-form pull-left" ng-submit='search()'>
  			<input type='text' placeholder='Search...' class='search-query span4' ng-model='searchquery' id='textSearchQuery' ui-autocomplete="myOption"></input>		
  			<button type='submit' class='btn btn-primary'>Search</button>			
				</form>      
      </div>
    </div>
  </div>
</div>
<div class='control-group' >					
		<span> {{status}} {{currentSongName}} </span>
	</div>
	<div class='row'>
		<div class='span9'>
			<div class='row'>
		<div ng-repeat='video in videos' class='thumb span4'>
            <ul class="toolbar">
              <li><a class="play"></a></li>
              <li><a class="add" ng-click='addplaylist(video)'></a></li>
           </ul>
			<img ng-src="{{video.thumbnail.hqDefault}}" ng-click='play(video)'/>
			<div class='thumb_caption'>{{video.title}}</div>
			<!-- <button class='btn' ng-click='play(video.id)'>Play</button> -->
		</div>
	</div>		
	</div>
	<div class='span2'>
		<div class='row'>
			<div class='control-group'>
				<button class='btn' ng-click='play()'>Play</button>
			</div>
		</div>
		<div class='row'>
			<div class='control-group'>
				<button class='btn' ng-click='stop()'>Stop</button>
			</div>
		</div>
		<div class='row'>
			<div class='control-group'>
				<button class='btn' ng-click='next()'>Next</button>
			</div>
		</div>
		<div class='row'>
			<div class='control-group'>
				<button class='btn' ng-click='previous()'>Prev</button>
			</div>
        <!--playlist block-->
		<div class='row'>
            <div class='span2'> 
				<div ng-repeat='song in playlist' class='thumb' ng-click='fast_play(song.id)'>
                    <img ng-src="{{song.thumbnail.sqDefault}}"/>
					<div>{{song.title}}</div>
					<div>{{song.id == playing}}</div>
				</div>
			</div>
		</div>
</div>
</div>

